step-functions/batch_pipeline.json
{
  "Comment": "Academic batch processing pipeline with Spark on EMR",
  "StartAt": "CreateEMR",
  "States": {
    "CreateEMR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
      "Parameters": {
        "Name": "academic-batch-emr",
        "ReleaseLabel": "emr-6.9.0",
        "Applications": [
          { "Name": "Spark" }
        ],
        "Instances": {
          "InstanceGroups": [
            {
              "Name": "Master node",
              "InstanceRole": "MASTER",
              "InstanceType": "m5.xlarge",
              "InstanceCount": 1
            }
          ],
          "KeepJobFlowAliveWhenNoSteps": true
        },
        "JobFlowRole": "EMR_EC2_DefaultRole",
        "ServiceRole": "EMR_DefaultRole",
        "VisibleToAllUsers": true
      },
      "Next": "CleanData"
    },

    "CleanData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.ClusterId",
        "Step": {
          "Name": "Clean academic dataset",
          "ActionOnFailure": "TERMINATE_CLUSTER",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "s3://academic-bucket-2026/scripts/clean_data.py"
            ]
          }
        }
      },
      "Next": "StudentMetrics"
    },

    "StudentMetrics": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.ClusterId",
        "Step": {
          "Name": "Compute student metrics",
          "ActionOnFailure": "TERMINATE_CLUSTER",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "s3://academic-bucket-2026/scripts/student_metrics.py"
            ]
          }
        }
      },
      "Next": "TerminateEMR"
    },

    "TerminateEMR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster",
      "Parameters": {
        "ClusterId.$": "$.ClusterId"
      },
      "End": true
    }
  }
}
